@import '../../index.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
// MEDIA QUERY
@mixin media($breakpoint) {
    @if $breakpoint == small {
      @media (max-width: 60em) {
        @content;
      }
    }
  }

  //VARIABLES
  $transition: .3s;
  
  body{
    font-family: 'Nunito', sans-serif;
  }

  .grid-box {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6rem;
    
    @include media(small) {
        padding: 3rem;
     }
  }
  
  // MAIN CONTENT
  .grid {
    display: grid;
    width: 114rem;
    grid-gap: 0.5rem;
    margin:1rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(20rem, 1fr)
    );
    align-items: start;
    
    @include media(small) {
        grid-gap: 3rem;
     }
    
    &__item {
      background: $mainWhite;
      border-radius: 0.05rem;
      overflow: hidden;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, .05);
      transition: $transition;
      
      &:hover {
        transform: translateY(-.5%);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, .1);
      }
    }
  }
  
  .card {
    .card__img {
      display: block;
      width: 100%;
      height: 18rem;
      object-fit: cover;
      object-position: left top;
      // object-position: 90% 1%;
     }
    
    .card__content {
      padding: 2rem 2rem;
    a{
      margin-bottom: 1%;
      &:hover{
        text-decoration: none;
      }  
    }
    .card__tools__header{
      font-weight: 400;
      margin-bottom: 0.2rem;
      font-size: 1.2rem;
      color:$mainBlack;
    }
    .card__tools {
      font-size: 1.2rem;
      color:$secondary
    }

    .card__header {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      color: $mainBlack;
      margin-bottom: 1rem;
      
    }
    
    .card__text {
      font-size: 1.1rem;
      letter-spacing: .1rem;
      color: darken($mainGrey, 1%);
      margin-bottom: 1rem;
    }
        
    }
    .card__btn {
      display: block;
      width: 100%;
      padding: 1rem;
      font-size: 1.5rem;
      text-align: center;
      color: $mainBlue;
      background-color: $mainWhite;
      border: none;
      border-radius: 0;
      transition: $transition;
      cursor: pointer;
      margin-top: 5%;
      
      span {
        margin-left: 1rem;
      }
      
      &:hover,
      &:active {
        background-color: $secondary;
        text-decoration: none;
        color:$mainWhite;
          span {
          margin-left: 1.5rem;
        }
      }
    }
  }