$mainBlack: #222;
$mainBlue: #1a394d;
$blueDark: #0d1d27;
// $blueDark: #081117;
$mainWhite: #fff;
$secondary: #8bd8bd;
$teal: #35c2a3;
$mainGrey: #6c757d;
$lightGrey: #d3d3d3;
$mainBackground: #f3faff;
