@import '../../index.scss';

.nav-bar{
    background: transparent;
    padding:1.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    transition: top 0.6s;
    z-index: 999;
    display: flex;
    width: 100%;
    .name{   
        .logo-box{
            width:75px;
            height:75px;
            img{
                width:100%;
            }
        }  
}
    ul {
        margin-bottom: 0!important;
    }
}

.nav-bar--hidden {
    top: -120px;
  }

li{
    display:inline-block;
    a{
        text-decoration:none;
        display:inline-block;
        color:$mainBlack;
        font-size: 1.4rem;
        font-weight: 600;
        &:hover{
            color:$mainBlack;
        }
    }
}

.nav-link::after{
    content:'';
    display:block;
    width:0;
    height:3px;
    background:$mainWhite;
    transition: width 0.4s;
    
}
.nav-link:hover::after{
    width:100%;
    transition: width 0.3s;
}

@media(max-width: 768px){
    .nav-bar{
        background:darken( $mainGreen,10%);
        padding:0.3rem 1rem;
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        .name{
            padding: 15px 0;  
            .logo-box{
                width:50px;
                height:50px;
                border: 1px solid white;
                img{
                    width:100%;
                }
            }
        }
        .nav-links{
            display:flex;
            align-items: baseline;
            justify-content:center;
            .nav-link{
                padding:0.5rem 0 0.5rem 1rem;
            }
        }
    }
    li{
        a{
            font-weight: 300;
            color:$mainWhite;
            &:hover{
                color:$mainWhite;
            }
        }
    }

    .nav-bar--hidden {
        top: -100;
      }

}