@import '../../index.scss';

.footer{
    background:darken($mainGreen,10%);
    padding:2rem 3rem 4rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width:100%;
    @media(min-width: 1200px){
        padding: 2rem 100px 4rem;
    }
    @media(min-width: 1600px){
        padding: 2rem 250px 4rem;
    }
    ul{
        margin-bottom: 0;
    }

    .footer-social{
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        justify-content: space around;
        flex-wrap: nowrap;
    
        .footer-social-item{
            padding-right:7%;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            a{
                font-size: 1.2rem;
                font-weight: 300;
                color:$mainGrey;
                transition: ease-out 0.2s all;
                &:hover{
                    text-decoration: none;
                    color:$mainWhite;
                }
            }
        } 
    }

    .footer-date{
        color:white;
        font-size: 1rem;
        font-weight: 300;;
    }
}

@media(max-width: 768px){
    .footer{
        text-align: center;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:2rem 3rem;
        
        .footer-social{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
               .footer-social-item{
                padding:0 0.5rem;
                } 
        }
        .footer-date{
            margin-top: 8%;
        }
    }
}
