@import "./variables/colors";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  
  body{
    font-family: 'Nunito', sans-serif!important;
  }

  #root{
    width:100%;
  }