@import '../../index.scss';

.background{
    border:0;
    margin:0;
    padding:0;
    position:relative;
    margin-bottom:100px;
    #tsparticles{
        background: rgb(13, 29, 39);  
        width:100%;
        height:100vh;
    }
    .wave{
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        svg{
            position: relative;
            display: block;
            width: calc(142% + 1.3px);
            height: 100px;
            transform: rotateY(180deg);
            @media (max-width: 767px) {
                width: calc(100% + 1.3px);
                height: 50px;
            }
            .shape-fill{
                fill: #0D1D27;
            }
        }
    }

    .background-img{
        // position:relative;
        // // background: url("background_b_resized.jpg");
        // background-size: cover;
        // width:100%;
        // height:100vh;
        // overflow:hidden;
    } 
    // .background-overlay{
    //     position:absolute;
    //     width:100%;
    //     height:100%;
    //     background: $mainGreen;
    //     opacity: 0.7;
    // }
}

.background-box{
    text-align: center;
    position:absolute;
    top: 53vh;
	left: 50%;
    transform: translate(-50%, -50%);
    width:60%;
    @media(min-width: 1400px){
        width:50%;
    }
    .background-button{
        line-height: 2.4rem;
        color:$mainWhite;
        border: solid $mainWhite 3px;
        font-size: 1.8rem;
        background: transparent;
        padding: 0.3rem 1.8rem;
        transition: ease 0.2s all;
        border-radius: 30px;
        &:hover{
            border: $teal solid 3px;
            // background: $mainWhite;
            color:$teal;
            text-decoration: none;
        }
    }
    .background-text{
        color:$mainWhite;
        margin:3%;
        padding-bottom: 1%;
        font-size: 2.4rem;
        font-weight: 400;
        @media (max-width: 768px) {
            font-size:2.2rem;
        }
    }
}

@media (max-width: 768px) {
    .background{
        position:relative;
    
        .background-image{
            height:100vh;
            object-fit: cover;
            object-position: left top;   
        }
    }
    .background-box{
        top: 50vh;
        width:100%;
        .background-text{
            color:$mainWhite;
            margin:5%;
            white-space: normal;
            font-size: 2rem;
            br{
                display: none;
            }
        }
    }
}