@import "../../index.scss";

.background {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: -2px;
  #tsparticles {
    background: $blueDark;
    width: 100%;
    height: 100vh;
  }
}
.wave {
  z-index: -1;
  width: "100%";
  margin-bottom: -2px;
  margin-left: -1px;
  min-width: "100%";
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.background-box {
  text-align: center;
  position: absolute;
  top: 53vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  @media (min-width: 1400px) {
    width: 50%;
  }
  .background-button {
    line-height: 2.4rem;
    color: $mainWhite;
    border: solid $mainWhite 3px;
    font-size: 1.4rem;
    font-weight: 200;
    background: transparent;
    padding: 0.3rem 1.2rem 0.3rem 1.8rem;
    transition: ease 0.2s all;
    border-radius: 30px;
    &:hover {
      text-decoration: none;
    }
  }
  .background-text {
    color: $mainWhite;
    margin: 3%;
    padding-bottom: 1%;
    font-size: 2.4rem;
    font-weight: 200;
  }
}

@media (max-width: 768px) {
  .background {
    position: relative;
    .background-image {
      height: 100vh;
      object-fit: cover;
      object-position: left top;
    }
  }
  .background-box {
    top: 45vh;
    width: 100%;
    .background-text {
      color: $mainWhite;
      margin: 5%;
      white-space: normal;
      font-size: 1.8rem;
      padding-bottom: 2%;

      br {
        display: none;
      }
    }
    .background-button {
      font-size: 1.2rem;
    }
  }
}
